.complete-quiz {
    background-color: #c4c4c4;
    border: 1px solid black;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
    cursor: pointer;
}

.complete-quiz:hover {
    background-color: #efefef;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

.complete-quiz:active {
    transform: translateY(2px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}