.headerText {
    color: #181818;
    font-size: 300%;
    font-weight: 600;
    background: rgba(218, 218, 218, 0.6);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 30px;
    margin-bottom: 0.5%;
}

.headerDescription {
    font-size: 150%;
    color: #181818;
    font-weight: 500;
    background: rgba(218, 218, 218, 0.6);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 30px;
    margin-bottom: 0.5%;
}

.textDescription {
    text-align: center;
    font-size: 110%;
    font-weight: 500;
    background: rgba(218, 218, 218, 0.6);
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 30px;
}

.landingButton {
    border: 1px solid black;
    color: black;
    padding: 2%;
    border-radius: 15px;
    font-size: 130%;
    font-weight: 400;
    background-color: #E9AEAE;
    opacity: 0.9;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);

}

.landingButton:hover {
    text-decoration: none;
    color: black;
    opacity: 1;
    transform: scale(1.05);
}

.landingButton-text:hover {
    opacity: 1;
}