body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#homeStudentContainer {
    border-radius: 10px;
    background-color: lightgrey;
    
}

#homeTutorContainer {
    border-radius: 10px;
    background-color: lightgrey;
}

#welcomeMessageTutor {
    padding-top: 4%;
    padding-bottom: 1%;
}

#welcomeMessageStudent {
    padding-top: 4%;
    padding-bottom: 1%;
}

.announcements {
    padding: 1%;
}

#loginContainer {
    padding: 3%;
    border: 1px solid black;
    margin: auto;
    border-radius: 3%;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    background-color: #c4c4c4;
    font-family: inherit;

}

.loginPage {
    padding: 10%;
    margin-top: 3%;
}

#signupContainer {
    padding: 1%;
    border: 1px solid black;
    margin: auto;
    border-radius: 3%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    background-color: #c4c4c4
}

.signupPage {
    padding-top: 6%;
}

.form-fields {  
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    padding-left: 1%;
}

.form-headers {
    font-size: 110%;    
}

.add-quiz-card {
    padding: 1%;
    padding-top: 2%;
}

.add-quiz {
    background-color: #efefef;
    display: block;
    width: 100%;
    border: 1px solid black;
    text-align: center;
    padding: 3%;
    border-radius: 12px;
    cursor: pointer;
}

.add-quiz:hover {
    background-color: #c4c4c4;
    cursor: pointer;
}

.add-quiz:active {
    cursor: pointer;
}

.add-card-text {
    padding: 2%;
    text-align: center;
}

.complete-quiz {
    background-color: #c4c4c4;
    border: 1px solid black;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
    cursor: pointer;
}

.complete-quiz:hover {
    background-color: #efefef;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

.complete-quiz:active {
    transform: translateY(2px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

.assigned-quiz {
    background-color: #c4c4c4;
    border: 1px solid black;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
    cursor: pointer;
}

.assigned-quiz:hover {
    background-color: #efefef;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    content: "View Quiz";
    cursor: pointer;
}

.assigned-quiz:active {
    transform: translateY(2px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

.announcements {
    padding-top: 2%;
}

.uncompleted {
    padding: 1%;
}

.completed {
    padding: 1%;
    padding-bottom: 2%;
}

.add-announcements {
    padding: 1%;
}

.tutor-request {
    padding: 1%;
    padding-top: 2%;
}

#tutorButtons {
    padding: 2%;
}

.navbar {
    font-size: 130%;
    background: rgba(218, 218, 218, 0.8);
}

.nav-link {
    color: #181818;
}

.nav-link:hover {
    color: #181818;
    cursor: pointer;
}

.submitButton {
    padding: 2%;
    border-radius: 12px;
    border: 1px solid black;
    font-weight: 500;
}

.submitButton:hover {
    opacity: 0.7;
    cursor: pointer;

}

.submitButton:active {
    transform: translateY(2px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
}

.logo {
    max-width: 90%;
}

