/* General styling for the complete web application */

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    height: 100%;
}

.bg {
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.logo {
    max-width: 90%;
}

.welcomeMessage {
    padding-top: 2%;
    padding-bottom: 1%;
}

.announcements {
    padding: 1%;
}

/* Navigation bar styling */
.navbar {
    font-size: 130%;
    background: rgba(218, 218, 218, 0.8);
}

.nav-link {
    color: #181818 !important /* necessary to overide bootstrap styling */;
}

.nav-link:hover {
    color: #181818;
    cursor: pointer;
}

/* Container styling */
.homeContainer {
    border-radius: 10px;
    background-color: lightgrey;
    margin-top:5%;
    margin-bottom: 5%;
}

.featureContainer {
    border-radius: 10px;
    background-color: lightgrey;
    margin-top:5%;
}

.welcomeMessage {
    padding-top: 2%;
    padding-bottom: 1%;
}

.homeContainer .card button {
    background-color: #c4c4c4;
    border: 0px solid black;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 8px;
    cursor: pointer;
}

.homeContainer .card button:hover {
    background-color: #efefef;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    content: "View Quiz";
    cursor: pointer;
}

.homeContainer .card button:active {
    transform: translateY(2px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

#homeHeader button {
    display: block;
    width: 100%;
    border: 0px solid black;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;    
    background-image: linear-gradient(to right, #F68686 , #ffb6b6, #F68686);
}


#homeHeader button:hover {
    background-color: #FFECEC;
    cursor: pointer;
    transform: translateY(5px);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
}

#homeHeader button:active {
    cursor: pointer;
}

.featureContainer {
    border: 1px solid black;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    background-color: #c4c4c4;
    font-family: inherit;
    text-align: center;
}

/* Card styling */
.card{
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    filter: blur(0px);
    transition-property: filter;
    border: 0px solid black;
}

.card:hover {
    transform: scale(1.01);
}

.card-header {
    background-color: #F68686;
}

.card-body {
    background-color: #FFECEC;
}


/* Form styling */
.formFields {  
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    padding-left: 1%;
}

.formHeaders {
    font-size: 110%;    
}

.submitButton {
    padding: 2%;
    border-radius: 12px;
    border: 1px solid black;
    font-weight: 500;
}

.submitButton:hover {
    opacity: 0.7;
    cursor: pointer;
}

.submitButton:active {
    transform: translateY(2px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
}

/* Tutor request stying */

.tutorRequest {
    padding: 1%;
    padding-top: 2%;
}

/* Question styling */
.question {
    font-size: 120%;
    font-weight: 500;
}

.questionTitle {
    text-align: left;
    font-style: italic;
}

/* Quiz review styling */
.reviewPageAnswer {
    color: #2CA015;
    font-weight: 500;
}

.reviewCorrectAnswer {
    color: #2CA015;
    font-weight: 500;
}

.reviewFalseAnswer {
    color: red;
    font-weight: 500;
}

.score {
    font-weight: 750;
    font-size: 120%;
}