body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html {
    height: 100%;
}

.bg {
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#homeContainer {
    border-radius: 10px;
    background-color: lightgrey;
}

#welcomeMessage {
    padding-top: 2%;
    padding-bottom: 1%;
}

.announcements {
    padding: 1%;
    padding-top: 2%;
}

.form-fields {  
    width: 100%;
    max-width: 400px;
    border-radius: 4px;
    padding-left: 1%;
}

.form-headers {
    font-size: 110%;    
}

.add-announcements {
    padding: 1%;
}

.uncompleted {
    padding: 1%;
}

.completed {
    padding: 1%;
    padding-bottom: 2%;
}


.tutor-request {
    padding: 1%;
    padding-top: 2%;
}

#tutorButtons {
    padding: 2%;
}

.navbar {
    font-size: 130%;
    background: rgba(218, 218, 218, 0.8);
}

.nav-link {
    color: #181818;
}

.nav-link:hover {
    color: #181818;
    cursor: pointer;
}

.submitButton {
    padding: 2%;
    border-radius: 12px;
    border: 1px solid black;
    font-weight: 500;
}

.submitButton:hover {
    opacity: 0.7;
    cursor: pointer;

}

.submitButton:active {
    transform: translateY(2px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
}

.logo {
    max-width: 90%;
}

