body{
    background-color: #377267;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#homeStudentContainer {
    background-color: lightgrey;
}

#welcomeMessage {
    padding-top: 2%;
    padding-bottom: 1%;
}

.announcements {
    padding: 1%;
}

.subjects {
    padding: 1%;
}

#loginContainer {
    padding: 3%;
    border: 1px solid black;
    margin: auto;
    border-radius: 3%;
    box-shadow: 0 12px 16px 0 #336b61, 0 17px 50px 0 #336b61;
    background-color: #66b5a6;
    font-family: inherit;

}

.loginPage {
    padding-top: 8%;
}

#signupContainer {
    padding: 3%;
    border: 1px solid black;
    margin: auto;
    border-radius: 3%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    background-color: #66b5a6;
}

.signupPage {
    padding-top: 8%;
}

.form-fields {  
    width: 100%;
    max-width: 400px;
}