#signupContainer {
    border: 1px solid black;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.25), 0 17px 50px 0 rgba(0,0,0,0.20);
    background-color: #c4c4c4;
    font-family: inherit;
    text-align: center;
}
