{% block content %}
    <meta http-equiv="refresh" content="5;URL=http://localhost:5000/">
    <p>An unexpected error has occured. You will be redirected in 5 seconds. If this doesn't happen, please click <a href="http://localhost:5000/">here</a></p>
    style="background-image: url({{ url_for('static', filename='img/404gif.gif') }}); opacity: 1;"></body>
    <p>The administrator has been notified. Sorry for the inconvenience!</p>
    <p><a href="{{ url_for('index') }}">Back</a></p>
{% endblock %}