{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/accept-request.js') }}"></script>
{% endblock %}


{% block content %}

<div id="token" data-token='{{ token }}'></div>
<div class="container col-md-6 homeContainer" style="text-align: center;">
    <div class="p-3">
        <h1 class="mt-3">Your Requests</h1>
        {% if requests.first() is None %}
        <p>You have no requests</p>
        {% else %}
            {% for request in requests %}
            <div id="{{ request.id }}">
                <span>You have a request from {{User.query.filter_by(id=request.tutorId).first().username}}</span>
                <button class="accept">Accept</button><button class="decline">Decline</button></div>
            {% endfor %}
        {% endif %}
    </div>
</div>


{% endblock %}