<!-- Page to assign students to quizzes -->

{% extends "base.html" %}

{% block head %}

<script>
    $(document).ready(() => {
        $("#quizId").val("{{id}}")
    });
</script>

{% endblock %}

{% block content %}

<div class="loginPage pt-4">
    <div class="col-md-4 p-4 featureContainer" style="text-align: center;">
        <h1>Assign Student to {{ Quiz.query.filter_by(id=id).first().name }}</h1>
        <br>
        <!-- Form to assign the student -->
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.student.label(class="formHeaders") }}<br>
                {{ form.student(class="formFields") }}<br>

                <!-- Any raised errors for this field will appear here -->
                {% for error in form.student.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="display:none;">
                {{ form.quizId.label(class="formHeaders") }}<br>
                {{ form.quizId(class="formFields") }}<br>
            </p>
            <p>{{ form.submit(class="submitButton") }}</p>
        </form>
    </div>
</div>
{% endblock %}