<!-- Page to assign students to quizzes -->

{% extends "base.html" %}

{% block content %}

<div class="loginPage">
    <div class="col-md-4 featureContainer" style="text-align: center;">
        <h1>Assign Student</h1>
        <br>
        <!-- Form to assign the student -->
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.student.label(class="formHeaders") }}<br>
                {{ form.student(class="formFields") }}<br>

                <!-- Any raised errors for this field will appear here -->
                {% for error in form.student.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                
                {{ form.quizName.label(class="formHeaders") }}<br>
                {{ form.quizName(class="formFields") }}<br>

                <!-- Any raised errors for this field will appear here -->
                {% for error in form.quizName.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="submitButton") }}</p>
        </form>
    </div>
</div>
{% endblock %}