{% extends "base.html" %}

{% block content %}
    <h1>Assign Student</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.student.label }}<br>
            {{ form.student(class="form-fields") }}<br>
            {% for error in form.student.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.quizName.label }}<br>
            {{ form.quizName(class="form-fields") }}<br>
            {% for error in form.quizName.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}