<!-- Base page for all other pages of the site -->

<!DOCTYPE html>
<html>
<!--Adds favicon to every page-->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
    <title>{{ title }} - Tutor Quiz</title>
    {% else %}
    <title>Tutor Quiz</title>
    {% endif %}
    {% block head %}
    {% endblock%}
</head>

<!-- Include backround image -->
{% block image %}
<body class="bg"
    style="background-image: url({{ url_for('static', filename='img/background-image.jpg') }}); opacity: 0.9;"></body>
{% endblock %}

<!-- Universal navigation bar -->
<nav class="navbar navbar-expand-lg navbar navbar-light shadow">
    {% if current_user.is_anonymous %}
    <a class="navbar-brand" href="{{ url_for('index') }}">
        {% else %}
        <a class="navbar-brand" href="{{ url_for('home') }}">
            {% endif %}

            <!-- Our page logo -->
            <div class="logo-image">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" class="img-fluid logo">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <!-- All necessary links to other pages -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Sign Up</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
</nav>

<!-- Any flashed message will appear like this -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>
        {{ messages }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

{% block content %}{% endblock %}


</body>

</html>