{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/homeTutor.css">
{% endblock %}

{% block content %}


<div class="container homeContainer">
    <div class="row d-flex justify-content-between pt-1" id="homeHeader">
        <div class="col-sm-6 py-3 px-4">
            <a href="{{ url_for('create_quiz') }}" style="text-decoration: none;">
                <button class="p-3">
                    <div class="row d-flex justify-content-between">
                        <div class="col-sm-12" style="text-align: center;">
                            <h1>Create a quiz</h1>
                        </div>
                    </div>
                </button>
            </a>
        </div>

        <div class="col-sm-6 py-3 px-4">
            <a href="{{ url_for('request_student') }}" style="text-decoration: none;">
                <button class="p-3">
                    <div class="row d-flex justify-content-between">
                        <div class="col-sm-12" style="text-align: center;">
                            <h1>Request a student</h1>
                        </div>
                    </div>
                </button>
            </a>
        </div>
    </div>

    <div class="announcements">
        <div class="card">
            <h3 class="card-header" data-unsp-sanitized="clean">Add Announcement</h3>
            <div class="card-body">

                <div class="row d-flex justify-content-between">
                    <div class="col-sm-6" style="text-align: left;">
                        Hey guys, could you please read this before attempting the quiz. Cheers
                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <u>Link to file</u>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container p-2 pb-4">
        <div class="card">
          <h3 class="card-header" data-unsp-sanitized="clean">Assigned Quizzes</h3>
          <div class="card-body">
            <div class="row d-flex justify-content-between">
              {% if assignedQuizzes.count()== 0 %}
              <div class="col-sm-12" style="text-align: left;">
                You have not assigned any quizzes
              </div>
              {% else %}
              {% for assignedQuiz in assignedQuizzes %}
              <div class="col-sm-4" style="text-align: left;">
                {{Quiz.query.filter_by(id=assignedQuiz.quizId).first().name }}
              </div>
              <div class="col-sm-4" style="text-align: center;">
                {{User.query.filter_by(id=Quiz.query.filter_by(id=assignedQuiz.quizId).first().studentId).first().username}}
              </div>
              <div class="col-sm-4" style="text-align: right;">
                <button class="complete-quiz">
                  Review Quiz
                </button>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>


    <div class="container p-2 pb-4">
        <div class="card">
            <h3 class="card-header" data-unsp-sanitized="clean">Students</h3>
            <div class="card-body">
                <div style="text-align: center;" id="tutors">
                    {% if students.count()== 0 %}
                    <p>You have no students</p>
                    {% else %}
                    {% for student in students %}
                    <div id="{{ student.id }}">
                        <span>{{User.query.filter_by(id=student.studentId).first().username}}</span>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    


</div>

{% endblock %}