{% extends 'base.html' %}

{% block content %}

<br><br>

<!--Welcome Message-->
<div class="container" id="welcomeMessageTutor">
    <h1 style="color: #ececec; text-shadow: 7px 7px 10px black; padding-top: 1%;">Welcome, {{ current_user.userName }}!
    </h1>
</div>

<br>

<section>
    <div class="container" id="homeTutorContainer">
        <!--Announcements card-->

        <div class="row d-flex justify-content-between" id="tutorButtons">
            <div class="col-sm-6 add-quiz-card">
                <button class="add-quiz">
                    <div class="row d-flex justify-content-between">
                        <div id="message" class="message col-sm-12" style="text-align: center;">
                            <h1>Add Quiz</h1>
                        </div>
                    </div>
                </button>
            </div>

            <div class="col-sm-6 add-quiz-card">
                <button class="add-quiz">
                    <div class="row d-flex justify-content-between">
                        <div id="message" class="message col-sm-12" style="text-align: center;">
                            <h1>Add Student</h1>
                        </div>
                    </div>
                </button>
            </div>
        </div>

        <div class="add-announcements">
            <div class="card">
                <h3 class="card-header" data-unsp-sanitized="clean">Add Announcement</h3>
                <div class="card-body">

                    <div class="row d-flex justify-content-between">
                        <div id="message" class="message col-sm-6" style="text-align: left;">
                            Hey guys, could you please read this before attempting the quiz. Cheers
                        </div>
                        <div class="col-sm-6" style="text-align: right;">
                            <u>Link to file</u>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="completed">
            <div class="card">
                <h3 class="card-header" data-unsp-sanitized="clean">Assigned Quizzes</h3>
                <div class="card-body">


                    <div class="row d-flex justify-content-between">
                        <div id="message" class="message col-sm-3" style="text-align: left;">
                            Student 1
                        </div>
                        <div class="col-sm-3" style="text-align: left;">
                            Accounting Quiz 1
                        </div>
                        <div class="col-sm-3" style="text-align: left;">
                            Date Completed
                        </div>
                        <div class="col-sm-3" style="text-align: right;">
                            <button class="assigned-quiz">
                                View Quiz
                            </button>
                        </div>
                    </div>

                    <br>

                    <div class="row d-flex justify-content-between">
                        <div id="message" class="message col-sm-3" style="text-align: left;">
                            Student 2
                        </div>
                        <div class="col-sm-3" style="text-align: left;">
                            Accounting Quiz
                        </div>
                        <div class="col-sm-3" style="text-align: left;">
                            Not completed
                        </div>
                        <div class="col-sm-3" style="text-align: right;">
                            <button class="assigned-quiz">
                                View Quiz
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}