{% extends 'base.html' %}


{% block content %}


<div class="container homeContainer">
  <div class="container p-2 pt-4">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Announcement</h3>
      <div class="card-body">

        <div class="row d-flex justify-content-between">
          <div class="col-sm-12" style="text-align: left;">
            Hey guys, could you please read this before attempting the quiz. Cheers
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container p-2">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Tutor Requests</h3>
      <div class="card-body">
        <div id="token" data-token='{{ token }}'></div>
        <div id="requests">
          {% if requests.count()== 0 %}
          <div class="col-sm-12" style="text-align: center;">
            You have no tutor requests
          </div>
          {% else %}
          {% for request in requests %}
          <div id="{{ request.id }}">
            <span>You have a request from {{User.query.filter_by(id=request.tutorId).first().username}}</span>
            <button class="accept">Accept</button><button class="decline">Decline</button>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container p-2">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Tutors</h3>
      <div class="card-body">
        <div style="text-align: center;" id="tutors">
          {% if tutors.count()== 0 %}
          <div class="col-sm-12" style="text-align: left;">
            You have no tutors
          </div>
          {% else %}
          {% for tutor in tutors %}
          <div id="{{ tutor.id }}">
            <span>{{User.query.filter_by(id=tutor.tutorId).first().username}}</span>
          </div>
          {% endfor %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  <div class="container p-2">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Uncompleted Quizzes</h3>
      <div class="card-body">

        <div class="row d-flex justify-content-between">
          {% if uncompletedQuizzes|length == 0 %}
          <div class="col-sm-3" style="text-align: left;">
            You have no assigned quizzes
          </div>
          {% else %}
          <div class="col-sm-4 pb-2" style="text-align: left;"><strong>Quiz</strong></div>
          <div class="col-sm-4 pb-2" style="text-align: center;"><strong>Tutor</strong></div>
          <div class="col-sm-4 pb-2"></div>
          {% for uncompletedQuiz in uncompletedQuizzes %}
          <div class="col-sm-4 pt-2" style="text-align: left;">
            {{Quiz.query.filter_by(id=uncompletedQuiz.quizId).first().name }}
          </div>
          <div class="col-sm-4 pt-2" style="text-align: center;">
            {{User.query.filter_by(id=Quiz.query.filter_by(id=uncompletedQuiz.quizId).first().tutorId).first().username}}
          </div>
          <div class="col-sm-4 pt-2" style="text-align: right;">
            <a href="{{ url_for('complete_quiz',id=uncompletedQuiz.quizId) }}" style="text-decoration: none;">
              <button class="complete-quiz">
                Complete Quiz
              </button>
            </a>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container p-2 pb-4">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Completed Quizzes</h3>
      <div class="card-body">
        <div class="row d-flex justify-content-between">
          {% if completedQuizzes|length == 0 %}
          <div class="col-sm-3" style="text-align: left;">
            You have no completed any quizzes
          </div>
          {% else %}
          <div class="col-sm-3 pb-2" style="text-align: left;"><strong>Quiz</strong></div>
          <div class="col-sm-3 pb-2" style="text-align: center;"><strong>Tutor</strong></div>
          <div class="col-sm-3 pb-2" style="text-align: center;"><strong>Score</strong></div>
          <div class="col-sm-3 pb-2"></div>
          {% for completedQuizzes in completedQuizzes %}
          <div class="col-sm-3 pt-2" style="text-align: left;">
            {{Quiz.query.filter_by(id=completedQuizzes.quizId).first().name }}
          </div>
          <div class="col-sm-3 pt-2" style="text-align: center;">
            {{User.query.filter_by(id=Quiz.query.filter_by(id=completedQuizzes.quizId).first().tutorId).first().username}}
          </div>
          <div class="col-sm-3 pt-2" style="text-align: center;">
            {{Score.query.filter_by(studentQuizId=completedQuizzes.id).first().score}}
          </div>
          <div class="col-sm-3 pt-2" style="text-align: right;">
            <button class="complete-quiz">
              Review Quiz
            </button>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}