<!-- Student Home Page -->

{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/accept-request.js') }}"></script>
{% endblock %}

{% block content %}


<div class="container homeContainer">

  <!-- Card holding requests from tutors -->
  <div class="container p-2 pt-4">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Tutor Requests</h3>
      <div class="card-body">
        <div id="token" data-token='{{ token }}'></div>
        <div id="requests">

          <!-- Checks existence of tutor requests -->
          {% if requests.count()== 0 %}
          <div class="col-sm-12" style="text-align: center;">
            You have no tutor requests
          </div>

          <!-- Itterates through all requests from tutors and renders information to the page -->
          {% else %}
          {% for request in requests %}
          <div id="{{ request.id }}">
            <span>You have a request from {{User.query.filter_by(id=request.tutorId).first().username}}</span>
            <button class="requestButton accept">Accept</button><button class="requestButton decline">Decline</button>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Card holding list of current tutors -->
  <div class="container p-2">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Tutors</h3>
      <div class="card-body">
        <div style="text-align: center;" id="tutors">
          
          <!-- Checks existence of current tutors -->
          {% if tutors.count()== 0 %}
          <div class="col-sm-12" style="text-align: center;">
            You have no tutors
          </div>
          {% else %}

          <!-- Itterates through tutors and renders information to the page -->
          {% for tutor in tutors %}
          <div id="{{ tutor.id }}">
            <span>{{User.query.filter_by(id=tutor.tutorId).first().username}}</span>
          </div>
          {% endfor %}
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  <!-- Card holding any assigned and uncompleted quizzes -->
  <div class="container p-2">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Uncompleted Quizzes</h3>
      <div class="card-body">
        <div class="row d-flex justify-content-between">

          <!-- Checks for uncompleted quizzes -->
          {% if uncompletedQuizzes|length == 0 %}
          <div class="col-sm-12" style="text-align: left;">
            You have no uncompleted quizzes
          </div>
          {% else %}
          <div class="col-sm-4 pb-2" style="text-align: left;"><strong>Quiz</strong></div>
          <div class="col-sm-4 pb-2" style="text-align: center;"><strong>Tutor</strong></div>
          <div class="col-sm-4 pb-2"></div>

          <!-- Itterates through uncompleted quizzes and renders information to the page -->
          {% for uncompletedQuiz in uncompletedQuizzes %}
          <div class="col-sm-4 pt-2" style="text-align: left;">
            {{Quiz.query.filter_by(id=uncompletedQuiz.quizId).first().name }}
          </div>
          <div class="col-sm-4 pt-2" style="text-align: center;">
            {{User.query.filter_by(id=Quiz.query.filter_by(id=uncompletedQuiz.quizId).first().tutorId).first().username}}
          </div>
          <div class="col-sm-4 pt-2" style="text-align: right;">
            <a href="{{ url_for('complete_quiz',id=uncompletedQuiz.quizId) }}" style="text-decoration: none;">
              <button class="complete-quiz">
                Complete Quiz
              </button>
            </a>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- Card for assigned and completed quizzes -->
  <div class="container p-2 pb-4">
    <div class="card">
      <h3 class="card-header" data-unsp-sanitized="clean">Completed Quizzes</h3>
      <div class="card-body">
        <div class="row d-flex justify-content-between">

          <!-- Checks for any completed quizzes -->
          {% if completedQuizzes|length == 0 %}
          <div class="col-sm-12" style="text-align: left;">
            You have no completed any quizzes
          </div>
          {% else %}
          <div class="col-sm-3 pb-2" style="text-align: left;"><strong>Quiz</strong></div>
          <div class="col-sm-3 pb-2" style="text-align: center;"><strong>Tutor</strong></div>
          <div class="col-sm-3 pb-2" style="text-align: center;"><strong>Score</strong></div>
          <div class="col-sm-3 pb-2"></div>

          <!-- Itterates through completed quizzes and renders information to the page -->
          {% for completedQuiz in completedQuizzes %}
          <div class="col-sm-3 pt-2" style="text-align: left;">
            {{Quiz.query.filter_by(id=completedQuiz.quizId).first().name }}
          </div>
          <div class="col-sm-3 pt-2" style="text-align: center;">
            {{User.query.filter_by(id=Quiz.query.filter_by(id=completedQuiz.quizId).first().tutorId).first().username}}
          </div>
          <div class="col-sm-3 pt-2" style="text-align: center;">
            {{Score.query.filter_by(studentQuizId=completedQuiz.id).first().score}}
          </div>
          <div class="col-sm-3 pt-2" style="text-align: right;">
            <a href="{{ url_for('review_quiz',id=StudentQuiz.query.filter_by(studentId=current_user.id,quizId=completedQuiz.quizId).first().id) }}" style="text-decoration: none;">
              <button class="complete-quiz">
                Review Quiz
              </button>
            </a>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}