<!-- Tutor Home Page -->

{% extends 'base.html' %}

{% block content %}

<div class="container homeContainer">

    <!-- Adds button to allow tutor to create a quiz  -->
    <div class="row d-flex justify-content-between pt-1" id="homeHeader">
        <div class="col-sm-6 py-3 px-4">

            <!-- Redirects to the "Create Quiz" page -->
            <a href="{{ url_for('create_quiz') }}" style="text-decoration: none;">
                <button class="p-3">
                    <div class="row d-flex justify-content-between">
                        <div class="col-sm-12" style="text-align: center;">
                            <h1>Create a quiz</h1>
                        </div>
                    </div>
                </button>
            </a>
        </div>

        <div class="col-sm-6 py-3 px-4">

            <!-- Redirects to the "Request Student" page -->
            <a href="{{ url_for('request_student') }}" style="text-decoration: none;">
                <button class="p-3">
                    <div class="row d-flex justify-content-between">
                        <div class="col-sm-12" style="text-align: center;">
                            <h1>Request a student</h1>
                        </div>
                    </div>
                </button>
            </a>
        </div>
    </div>

    <!-- Card that hold tutors current students -->
    <div class="container p-2">
        <div class="card">
            <h3 class="card-header" data-unsp-sanitized="clean">Students</h3>
            <div class="card-body">
                <div style="text-align: center;" id="tutors">

                    <!-- Checks for current students -->
                    {% if students.count()== 0 %}
                    <div class="col-sm-12" style="text-align: center;">
                        You have no students
                    </div>

                    <!-- Itterates through students and renders information to the page -->
                    {% else %}
                    {% for student in students %}
                    <div id="{{ student.id }}">
                        <span>{{User.query.filter_by(id=student.studentId).first().username}}</span>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Container for quizzes students are yet to complete -->
    <div class="container p-2">
        <div class="card">
            <h3 class="card-header" data-unsp-sanitized="clean">Uncompleted Quizzes</h3>
            <div class="card-body">
                <div class="row d-flex justify-content-between">
                    
                    <!-- Checks for creates and assigned quizzes -->
                    {% if uncompletedQuizzes|length == 0 %}
                    <div class="col-sm-12" style="text-align: left;">
                        No assigned quizzes
                    </div>
                    {% else %}
                    <div class="col-sm-4 pb-2" style="text-align: left;"><strong>Quiz</strong></div>
                    <div class="col-sm-4 pb-2" style="text-align: center;"><strong>Student</strong></div>
                    <div class="col-sm-4 pb-2"></div>

                    <!-- Itterates through uncompleted quizzes and render information to the page -->
                    {% for uncompletedQuiz in uncompletedQuizzes %}
                    <div class="col-sm-4 pt-2" style="text-align: left;">
                        {{Quiz.query.filter_by(id=uncompletedQuiz.quizId).first().name }}
                    </div>
                    <div class="col-sm-4 pt-2" style="text-align: center;">
                        {{User.query.filter_by(id=StudentQuiz.query.filter_by(quizId=uncompletedQuiz.quizId).first().studentId).first().username}}
                    </div>
                    <div class="col-sm-4 pt-2" style="text-align: right;">
                        <button class="assigned-quiz">
                            Review Quiz
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Container to hold quizzes students have completed -->
    <div class="container p-2 pb-4">
        <div class="card">
            <h3 class="card-header" data-unsp-sanitized="clean">Completed Quizzes</h3>
            <div class="card-body">
                <div class="row d-flex justify-content-between">

                    <!-- Check for completed quizzes -->
                    {% if completedQuizzes|length == 0 %}
                    <div class="col-sm-12" style="text-align: left;">
                        No sudent has completed their quizzes
                    </div>
                    {% else %}
                    <div class="col-sm-3 pb-2" style="text-align: left;"><strong>Quiz</strong></div>
                    <div class="col-sm-3 pb-2" style="text-align: center;"><strong>Student</strong></div>
                    <div class="col-sm-3 pb-2" style="text-align: center;"><strong>Score</strong></div>
                    <div class="col-sm-3 pb-2"></div>

                    <!-- Itterates through completed quizzes and render the information to the page -->
                    {% for completedQuiz in completedQuizzes %}
                    <div class="col-sm-3 pt-2" style="text-align: left;">
                        {{Quiz.query.filter_by(id=completedQuiz.id).first().name }}
                    </div>
                    <div class="col-sm-3 pt-2" style="text-align: center;">
                        {{User.query.filter_by(id=StudentQuiz.query.filter_by(quizId=completedQuiz.id).first().studentId).first().username}}
                    </div>
                    <div class="col-sm-3 pt-2" style="text-align: center;">
                        {{Score.query.filter_by(studentQuizId=completedQuiz.id).first().score}}
                    </div>
                    <div class="col-sm-3 pt-2" style="text-align: right;">
                        <button class="assigned-quiz">
                            Review Quiz
                        </button>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    
</div>

{% endblock %}