{% extends 'base.html' %}

{% block content %}


<!-- full page image header with website title -->
<!--import image header from link-->
<header class="main-image-header"
    style="background-image: url('https://wallpaperplay.com/walls/full/7/c/7/121489.jpg'); opacity: 0.8;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light" style="color:#F1F1F1; text-shadow: 7px 7px 10px black">WebDev History
                </h1>
                <p class="lead" style="color:#F1F1F1; text-shadow: 7px 7px 10px black">Learn about the history of
                    the web</p>
            </div>
        </div>
    </div>
</header>





















{% endblock %}