<!-- Landing Page -->

{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/landingstyle.css">
{% endblock %}

<!-- Include different background image -->
{% block image %}
<body class="bg" style="background-image: url('../static/img/Landing.jpg'); opacity: 0.9;"></body>
{% endblock %}


{% block content %}
<header style="padding-top: 10%;">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="text-center">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-7 header-text">
                        Your future is back OnTrack
                    </div>
                    <div class="col-sm-12 header-description">
                        OnTrack delivers tailored learning experiences from teachers to students around the world.
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-6 text-description">
                        OnTrack is a specialised education service that allows teachers to interact with students by
                        setting announcements and assigning quizzes,
                        which will be automatically assessed by our proprietary OnTrack grading software. OnTrack is
                        free for
                        educators and students in primary, secondary and
                        tertiary schools.
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


{% endblock %}