<!-- Registration page -->

{% extends "base.html" %}


{% block content %}
<div class="container mt-5">
    <div class="col-md-6 p-4 mb-5 featureContainer" style="border: 0px solid black;">
        <h1 class="mt-3">Register</h1>
        <form class="mt-4" action="" method="post">

            <!-- Inserts registration form -->
            {{ form.hidden_tag() }}
            <p>
                {{ form.firstName.label(class="formHeaders") }}<br>
                {{ form.firstName(class="formFields") }}<br>
                {% for error in form.firstName.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.lastName.label(class="formHeaders") }}<br>
                {{ form.lastName(class="formFields") }}<br>
                {% for error in form.lastName.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.username.label(class="formHeaders") }}<br>
                {{ form.username(class="formFields") }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label(class="formHeaders") }}<br>
                {{ form.email(class="formFields") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label(class="formHeaders") }}<br>
                {{ form.password(class="formFields") }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.passwordAgain.label(class="formHeaders") }}<br>
                {{ form.passwordAgain(class="formFields") }}<br>
                {% for error in form.passwordAgain.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.userType.label(class="formHeaders") }}<br>
                {% for subfield in form.userType %}
                {{ subfield }}
                {{ subfield.label }}<br>
                {% endfor %}
                {% for error in form.userType.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="submitButton") }}</p>
        </form>
    </div>
</div>
{% endblock %}