{% extends "base.html" %}

{% block content %}

<div class="loginPage">
    <div class="col-md-4 featureContainer" style="text-align: center;">

        <h1>Reset Your Password</h1>
        <br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.password.label(class="form-headers") }}<br>
                {{ form.password(class="form-fields") }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label(class="form-headers") }}<br>
                {{ form.password2(class="form-fields") }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="submitButton") }}</p>
        </form>

    </div>
</div>
{% endblock %}