<!-- Request new password page -->

{% extends "base.html" %}

{% block content %}
<div class="loginPage">
    <div class="col-md-4 featureContainer" style="text-align: center;">
        <h1>Reset Password</h1>
        <br>
        <form action="" method="post">
            <!-- Insert new password request form -->
            {{ form.hidden_tag() }}
            <p>
                {{ form.email.label(class="form-headers") }}<br>
                {{ form.email(class="form-fields") }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit(class="submitButton") }}</p>
        </form>

    </div>
</div>

{% endblock %}